<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    {% block head %}{% endblock %}
  </head>
  {% block body %}{% endblock %}
  <body>
    <div class="columns col-gapless">
      <div class="column col-6"><p>First</p></div>
      <div class="column col-6"><p>Second</p></div>
      <div class="column col-6"><p>Thirds</p></div>
    </div>
  </body>
</html>
